* {
  transition: .2s ease;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .state {
  fill: black;
  transition: .3s ease;
  stroke: pink;
  stroke-width: 5px;
} */

.state:hover {
  fill: white;
}

.slider-board div span, .slider-board div div {
  background-color: white;
  color: black;
  box-shadow: none;
  border-radius: 0;
}

.btn-new-game button {
  display: none
}

.socialLinks{
  transition:all .3s;
}
.socialLinks:hover{
  color:rgb(40, 40, 40);
  transform:scale(1.1);
}
.closeButton{
  transition: all .3s;
}
.closeButton:hover{
  color:#000;
  background:#fff;
}

#usamap {
  box-shadow: 5px 5px 10px rgba(0,0,0,.4)
}