body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: pink;
  min-height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
}


.city {
  opacity: 0;
}